/* VideoRecordingComponent.css */

.recording-container {
    text-align: center;
    margin: 20px;
    border: 5px solid #ccc;
    padding: 10px;
    border-radius: 50px;
}

.recording-container:hover {
    border-color: #007bff;
    background-color: rgb(152, 195, 188);
}

.recording-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.disabled-button {
    background-color: #ccc;
    cursor: not-allowed;
}